version: '3.1'
services :
  database:
    container_name: database
    image: postgres:13-alpine
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: dbjs
  adminer:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - 8090:8080
    depends_on: 
      - database
  app:
    container_name: app
    build:
      context: ./nftProject
      dockerfile: ./Dockerfile
    ports:
      - 3000:3000
    environment:
      JWT_SECRET: epita
    volumes: # ONLY FOR DEV !!!
      - ./nftProject/src:/app/src
    depends_on:
      - database
